/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        dvorak_base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB         &kp SQT   &kp COMMA  &kp DOT   &kp P      &kp Y    &kp F  &kp G      &kp C     &kp R  &kp L  &kp BSPC
&kp LEFT_SHIFT  &kp A     &kp O      &kp E     &kp U      &kp I    &kp D  &kp H      &kp T     &kp N  &kp S  &kp RIGHT_SHIFT
&kp LCTRL       &kp SEMI  &kp Q      &kp J     &kp K      &kp X    &kp B  &kp M      &kp W     &kp V  &kp Z  &kp RCTRL
                                     &kp LGUI  &kp ENTER  &mo 1    &mo 2  &kp SPACE  &kp RALT
            >;
        };

        num_symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6         &kp F7     &kp F8     &kp F9     &kp F10    &trans
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6         &kp N7     &kp N8     &kp N9     &kp N0     &trans
&trans  &none   &none   &none   &none   &none     &kp BACKSLASH  &kp SLASH  &kp MINUS  &kp EQUAL  &kp GRAVE  &trans
                        &trans  &none   &trans    &trans         &kp F11    &kp F12
            >;
        };

        keynav {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &none     &none   &none     &none     &none        &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &none     &none   &none     &none     &none        &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &none     &kp SPACE    &kp RET    &none      &kp RALT
            >;
        };

        numpad {
            bindings = <
&kp TAB    &none  &none  &none     &none      &none    &kp KP_DIVIDE    &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_SUBTRACT  &kp BSPC
&kp LSHFT  &none  &none  &none     &none      &none    &kp KP_ASTERISK  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS      &kp KP_DOT
&kp LCTRL  &none  &none  &none     &none      &none    &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_EQUAL     &kp ENTER
                         &kp LGUI  &kp ENTER  &none    &none            &kp SPACE        &kp RALT
            >;
        };
    };
};
